/*@import "frappe.css";*/
@import "everforest.css";


* {
  font-family: Hack Nerd Font;
  font-size: 12px;
  font-weight: bold;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  padding:5px;
  margin: 5px;
  background-color: @bg1;
  margin-left: 0.5rem;
}


#workspaces button {
  color: @fg;
  border: none;
  font-weight: bolder;
  transition: color 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: background-color 0.3s ease;
  border-radius: 1rem;
}

#workspaces button:hover {
  /*color: @green;*/
  /*box-shadow: 0 0 0 2px @green;*/
  /*background-color: @green;*/
  color: transparent;
  /*box-shadow: 0 0 0 2px transparent;*/
  /*background-color: @green;*/
  background: @green;
  opacity: 1;
  border-radius: 1rem;
}

#workspaces button.active {
  color: @green;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @bg1;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#window {
  padding: 0.5rem 0.5rem;
  border-radius: 1rem;
  margin: 5px;
  background-color: @bg1;
}

#clock {
  color: @fg;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 0.5rem;
}

#battery {
  color: @fg;
}

#battery.charging {
  color: @fg;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @green;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @green;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @yellow;
}

#custom-power {
    margin-right: 0.5rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
